h1,h2,h3,h4,a{
  font-family: monospace;
  text-transform: uppercase;
}
p{
  font-family: monospace;
}
ul{
  list-style-type: none;
}
a:hover,
a:link,
a:visited{
  text-decoration: none;
}
nav#nav-menu{
  background-color: rgb(45, 90, 121);
  border: 0;
  border-radius: 0px;
}
footer#footer{
  background-color:rgb(45, 90, 121);
  color: white;
}
div#modules-container{
  padding-bottom: 25px;
}
div#chat-container form textarea{
  resize: none;
  margin-bottom: 5px;
}
div#modules-container div.col-md-6,
div#title-module h2,
div#title-module h4{
  margin-bottom: 15px;
}
div#modules-container div h2,
div#chat-title,
div#chat-container,
div#title-module,
div.slide,
div.module-button,
div.cmds{
  text-align: center;
}
div.slide img{
  width: 35%;
  margin: 0 auto;
}
div.module-button div.col-md-12{
  margin-bottom: 5px;
}
div.module-button a{
  text-transform: initial;
}
a.logo,
ul.menu-ul li a,
a.links-footer{
  color: white !important;
}
img.module-img{
  text-align:center;
  margin:0 auto;
  width:30%;
  margin-bottom: 5px;
}
nav.navbar{
  margin-bottom: 0px;
}
img.img-module{
  text-align:center;
  margin:0 auto;
  margin-bottom:25px;
  width: 50%;
}
.btn-primary{
  border: 0;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 2px;
  background-color: rgb(45, 90, 121);
}
.btn-primary:hover{
  background-color: rgb(52, 110, 152);
}
